body{
    text-align: center;
    font-family: Arial, sans-serif;
}

.dice{
    text-align: center;
    font-size: 100px;
}

button{
    width: 40%;
    color: white;
    padding: 15px 0;
    background-color: blueviolet;
}